<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrikrishna Portfolio</title>
    <link rel="stylesheet" href="static\css\styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Shrikrishna Portfolio</h1>
            </div>
            <ul class="nav-links">
                <li><a href="\">Home</a></li>
                <li><a href="\">Portfolio</a></li>
                <li><a href="\contact">Contact Me</a></li>
            </ul>
            <div class="profile-icon">
                <img src="https://tse2.mm.bing.net/th?id=OIP.Z306v3XdxhOaxBFGfHku7wHaHw&pid=Api&P=0&h=180" alt="Profile Icon">
            </div>
        </nav>
    </header>

    <section class="intro">
        <div class="container">
            <div class="profile-pic">
                <img src="static\images\my.jpg" alt="Shrikrishna Image">
            </div>
            <div class="intro-text">
                <h2>Shrikrishna the Data Analyst</h2>
                <p>Welcome to my portfolio website! I'm Shrikrishna, a data analyst with a passion for crafting stunning data visualizations, conducting robust statistical analysis, and making data-driven decisions that matter. Feel free to explore my projects and connect with me for any collaboration opportunities.</p>
            </div>
        </div>
    </section>

    <section class="about-me">
        <div class="container">
            <h2>About Me</h2>
            <p>I'm absolutely thrilled to bring my data analyst skills to the table. My career journey began with a passion for data and has grown to include diverse skills in machine learning, statistical analysis, and data-driven insights. Now, as a data analyst, I strive to transform data into actionable intelligence.</p>

            <p>Feel free to explore my portfolio, where you can find detailed projects that showcase my work. Download my resume and portfolio using the buttons below, or connect with me on LinkedIn, GitHub, or via email.</p>
          <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=360,h=274,fit=crop,trim=38.767741935483876;1612.4114671163575;503.9806451612903;304.35075885328837/A3Qa8yDK49hMlEEz/dreamstime_xxl_142470218-AzGjylWPJyI1Dqyq.jpg">
            <div class="button-container">
                <a href="static\files\Shrikrishna_soni_resume.pdf" class="button">Resume Download</a>
                <a href="portfolio.pdf" class="button">Portfolio Download</a>
            </div>

            <div class="social-links">
                <a href="https://www.linkedin.com/in/shrikrishna-soni-a96231246/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://shrikrishnasite.onrender.com" target="_blank"><i class="fas fa-link"></i></a>
            </div>
        </div>
    </section>
  <section class="tool-skill-set">
    <div class="tool-set">
        <h2>My Tool Set</h2>
        <div class="tools-grid">
            <div><img src="https://img.icons8.com/?size=48&id=l75OEUJkPAk4&format=png" alt="Python">Python</div>
            <div><img src="https://img.icons8.com/?size=48&id=38561&format=png" alt="PostgreSQL">PostgreSQL</div>
            <div><img src="https://img.icons8.com/?size=48&id=9Kvi1p1F0tUo&format=png" alt="Tableau">Tableau</div>
            <div><img src="https://img.icons8.com/?size=48&id=xSkewUSqtErH&format=png" alt="Pandas">Pandas</div>
            <div><img src="https://img.icons8.com/?size=48&id=qYfwpsRXEcpc&format=png" alt="PowerBI">PowerBI</div>
            <div><img src="https://img.icons8.com/?size=48&id=13654&format=png" alt="Excel">Excel</div>
            <div><img src="https://img.icons8.com/?size=48&id=XnHBz2LnhELw&format=png" alt="DbVisualizer">Plotly</div>
            <div><img src="https://img.icons8.com/?size=48&id=F4uMFPZgS0gt&format=png" alt="Anaconda">Anaconda</div>
            <div><img src="https://img.icons8.com/?size=48&id=M9xNyIu2wL3e&format=png" alt="Panel">Panel</div>
            <div><img src="https://tse2.mm.bing.net/th?id=OIP.unEtYTdTqVeDOiHlCIyvrwAAAA&pid=Api&P=0&h=180" alt="Seaborn">Seaborn</div>
            <div><img src="holoviews-icon.png" alt="HoloViews">HoloViews</div>
            <div><img src="sklearn-icon.png" alt="SkLearn">SkLearn</div>
        </div>
    </div>
    <div class="skill-set">
        <h2>My Skill Set</h2>
        <div class="skills-grid">
            <div>Data Transformation</div>
            <div>Storytelling with Data</div>
            <div>Custom Dashboards</div>
            <div>Data Wrangling</div>
            <div>K-Mean Clustering</div>
            <div>SQL Subqueries</div>
            <div>Descriptive Analysis</div>
            <div>Exploratory Queries</div>
            <div>PivotTables</div>
            <div>Data Mapping</div>
            <div>V Look Up</div>
            <div>DF Storage Optimization</div>
            <div>Relational Databases</div>
            <div>Data Presentation</div>
        </div>
    </div>
</section>
<section class="portfolio-brief">
    <h2>Portfolio Brief</h2>
    <div class="portfolio-grid">
        <a href="#">
            <div class="portfolio-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMqfConJZZovjQMLEzhw6bDSsAiTRgbTi4uA&s" alt="YouTube Data Analytics on Big Data">
                <h3>YouTube Data Analytics on Big Data</h3>
                <p>Built a scalable data lake on AWS S3, automating ETL processes with Glue, Lambda, and Spark. Used Athena and QuickSight for real-time insights into YouTube performance across regions.</p>
            </div>
        </a>

        <a href="https://github.com/zuno10/house_price_prediction">
            <div class="portfolio-item" >
                <img src="https://tse2.mm.bing.net/th?id=OIP.kFNEzzGa5lvZ-L-KyPJCSAHaFl&pid=Api&P=0&h=180" alt="Delhi House Price Prediction">
                <h3>Delhi House Price Prediction</h3>
                <p>Developed a machine learning model to predict house prices using algorithms like Linear Regression and XGBoost. Deployed the model with Docker for seamless integration.</p>
            </div>
        <a href="https://github.com/zuno10/MovieRecommendationSystem">
            <div class="portfolio-item">
                <img src="https://www.knowledgehut.com/_next/image?url=https%3A%2F%2Fd2o2utebsixu4k.cloudfront.net%2Fmedia%2Fimages%2Fa46e5c3d-4654-4d06-949a-bd4008e40d79.png&w=750&q=75" alt="Movie Recommendation System">
                <h3>Movie Recommendation System</h3>
                <p>Created a movie recommendation system using NLP techniques and cosine similarity to suggest films based on user preferences.</p>
            </div>
    </a>

    </div>
</section>

<section>
  <div class="social-links-footer">
                <a href="https://www.linkedin.com/in/shrikrishna-soni-a96231246/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://shrikrishnasite.onrender.com" target="_blank"><i class="fas fa-link"></i></a>
            </div>
  </section>
</body>
</html>
